doctype html
html 
  =partial 'layouts/header'
  body
    h1 Melody Upload
    =form_tag '/melody/upload', :class => 'melody', :method => 'post',:multipart => true do
      =flash_tag (:notice)
      =field_set_tag do
        p
          =label_tag :title , :class => 'title'
          =text_field_tag :title
        p
          =label_tag :author, :class => 'author'
          =text_field_tag :author
        p
          =label_tag :file , :class => 'musicFile'
          =file_field_tag :musicFile
        p
          =label_tag :description, :class => 'desc'
          =text_field_tag :desc
      = field_set_tag(:class => 'buttons') do
        =submit_tag "Upload"
      h2 注意
          再生デバイスはGeneral MIDI2, MIDIファイルタイプは1, ミュートされた楽器
          を無視のチェックボックスは外してください。耳が痛くなります。

    =partial 'layouts/footer'
